node_red/my_filter.json
[{"id":"ef5bf96.f10a408","type":"tab","label":"Flow 1"},{"id":"d3cba517.7da4e","type":"zmq-reader","z":"ef5bf96.f10a408","name":"WishfulReader","mode":"sub","uri":"tcp://127.0.0.1:8990","server":false,"topics":"SpectralScanSampleEvent","x":150,"y":88,"wires":[["18917699.e76e89"]]},{"id":"827885a7.37ab88","type":"comment","z":"ef5bf96.f10a408","name":"Subscribe SpectralScanSampleEvent","info":"","x":156,"y":55,"wires":[]},{"id":"20f43dc8.414552","type":"zmq-writer","z":"ef5bf96.f10a408","name":"WishfulWriter","mode":"pub","uri":"tcp://127.0.0.1:8989","server":false,"x":1121,"y":425,"wires":[]},{"id":"8b85f74e.959248","type":"function","z":"ef5bf96.f10a408","name":"Create and Serialize Event","func":"//Set topic\nvar topic = 'AveragedSpectrumScanSampleEvent';\n\n//Create and serialize Message Description\nvar jsonType = 1;\nvar msgDesc = {\"msgType\": \"AveragedSpectrumScanSampleEvent\", \n               \"sourceUuid\": \"node-red-1\", \n               \"serializationType\": jsonType };\nmsgDesc = JSON.stringify(msgDesc);\n\n//Create and serialize event\nvar data = {'avg': msg.payload};\ndata = JSON.stringify(data);\n\n//Set to payload as list (with proper ordering!)\nmsg.payload = [topic, msgDesc, data];\n\nreturn msg;","outputs":1,"noerr":0,"x":851,"y":327,"wires":[["20f43dc8.414552"]]},{"id":"7543f8ff.405de","type":"comment","z":"ef5bf96.f10a408","name":"Publish AveragedSpectrumScanSampleEvent","info":"","x":1153,"y":393,"wires":[]},{"id":"8553f261.f5098","type":"smooth","z":"ef5bf96.f10a408","name":"Moving Average Filter","action":"mean","count":"10","round":"","x":620.5,"y":244,"wires":[["8b85f74e.959248"]]},{"id":"18917699.e76e89","type":"function","z":"ef5bf96.f10a408","name":"Decode and Parse Event","func":"//Get topic\nmsg.topic = msg.payload[0];\n\n//Parse Message Description\nvar msgDesc = JSON.parse(msg.payload[1]);\nmsg.msgType = msgDesc.msgType;\nmsg.sourceUuid = msgDesc.sourceUuid;\nmsg.serializationType = msgDesc.serializationType;\n\n//Parse event\nvar event = JSON.parse(msg.payload[2]);\n\n//Set to payload for next node on path\nmsg.payload = event.sample;\n\nreturn msg;","outputs":"1","noerr":0,"x":412,"y":165,"wires":[["8553f261.f5098"]]}]