node_red/my_filter.json
[{"id":"ef5bf96.f10a408","type":"tab","label":"Flow 1"},{"id":"d3cba517.7da4e","type":"zmq-reader","z":"ef5bf96.f10a408","name":"WishfulReader","mode":"sub","uri":"tcp://127.0.0.1:8990","server":false,"topics":"SpectralScanSampleEvent","x":150,"y":88,"wires":[["18917699.e76e89"]]},{"id":"827885a7.37ab88","type":"comment","z":"ef5bf96.f10a408","name":"Subscribe SpectralScanSampleEvent","info":"","x":156,"y":55,"wires":[]},{"id":"20f43dc8.414552","type":"zmq-writer","z":"ef5bf96.f10a408","name":"WishfulWriter","mode":"pub","uri":"tcp://127.0.0.1:8989","server":false,"x":1198,"y":431,"wires":[]},{"id":"8b85f74e.959248","type":"function","z":"ef5bf96.f10a408","name":"Create and Serialize Event","func":"//Create and serialize event\nvar eventType = 'AveragedSpectrumScanSampleEvent';\nvar data = {'avg': msg.payload};\nmsg.event = JSON.stringify(data);\n\n//Set topic\nmsg.topic = 'AveragedSpectrumScanSampleEvent';\n\n//Create Message Description\nvar jsonType = 1;\nmsg.msgType = eventType;\nmsg.sourceUuid = \"node-red-1\";\nmsg.serializationType = jsonType;\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":313,"wires":[["e9e5ea09.161a18"]]},{"id":"7543f8ff.405de","type":"comment","z":"ef5bf96.f10a408","name":"Publish AveragedSpectrumScanSampleEvent","info":"","x":1227,"y":469,"wires":[]},{"id":"8553f261.f5098","type":"smooth","z":"ef5bf96.f10a408","name":"Moving Average Filter","action":"mean","count":"10","round":"","x":635.5,"y":258,"wires":[["8b85f74e.959248"]]},{"id":"18917699.e76e89","type":"function","z":"ef5bf96.f10a408","name":"Decode Msg","func":"//Get topic\nmsg.topic = msg.payload[0];\n\n//Parse Message Description\nvar msgDesc = JSON.parse(msg.payload[1]);\nmsg.msgType = msgDesc.msgType;\nmsg.sourceUuid = msgDesc.sourceUuid;\nmsg.serializationType = msgDesc.serializationType;\n\n//Get event\nmsg.event = msg.payload[2];\nmsg.payload = msg.event;\n\nreturn msg;","outputs":"1","noerr":0,"x":338,"y":146,"wires":[["28907a2d.d76f86"]]},{"id":"28907a2d.d76f86","type":"function","z":"ef5bf96.f10a408","name":"Parse Event","func":"//Parse event\nmsg.event = JSON.parse(msg.event);\n\n//Set to payload for next node on path\nmsg.payload = msg.event.sample;\n\nreturn msg;","outputs":"1","noerr":0,"x":469,"y":200,"wires":[["8553f261.f5098"]]},{"id":"e9e5ea09.161a18","type":"function","z":"ef5bf96.f10a408","name":"Encode Msg","func":"//Serialize Message Description\nvar msgDesc = {\"msgType\": msg.msgType, \n               \"sourceUuid\": msg.sourceUuid, \n               \"serializationType\": msg.serializationType };\nmsgDesc = JSON.stringify(msgDesc);\n\n//Set to payload as list (with proper ordering!)\nmsg.payload = [msg.topic, msgDesc, msg.event];\n\nreturn msg;","outputs":1,"noerr":0,"x":1003,"y":368,"wires":[["20f43dc8.414552"]]}]