node_red/my_filter.json
[{"id":"ef5bf96.f10a408","type":"tab","label":"Flow 1"},{"id":"d3cba517.7da4e","type":"zmq-reader","z":"ef5bf96.f10a408","name":"WishfulReader","mode":"sub","uri":"tcp://127.0.0.1:8990","server":false,"topics":"SpectralScanSampleEvent","x":145,"y":331,"wires":[["18917699.e76e89"]]},{"id":"ddfcfcf6.07a5a","type":"function","z":"ef5bf96.f10a408","name":"Extract payload","func":"var data = JSON.parse(msg.data);\n\nmsg.payload = data.sample\n\nreturn msg;","outputs":1,"noerr":0,"x":512,"y":432,"wires":[["8553f261.f5098"]]},{"id":"827885a7.37ab88","type":"comment","z":"ef5bf96.f10a408","name":"Subscribe SpectralScanSampleEvent","info":"","x":155,"y":294,"wires":[]},{"id":"20f43dc8.414552","type":"zmq-writer","z":"ef5bf96.f10a408","name":"WishfulWriter","mode":"pub","uri":"tcp://127.0.0.1:8989","server":false,"x":1173,"y":443,"wires":[]},{"id":"8b85f74e.959248","type":"function","z":"ef5bf96.f10a408","name":"Create Msg","func":"var data = {'avg': msg.payload};\nvar data = JSON.stringify(data);\n\nvar topic = 'AveragedSpectrumScanSampleEvent';\nvar msgDesc = {\"type\": \"event\", \n               \"source_uuid\": \"node-red-1\", \n               \"serialization_type\": 1 };\n\nmsg.full_payload = [topic, msgDesc, data];\nmsg.payload = msgDesc;\n\nreturn msg;","outputs":1,"noerr":0,"x":801,"y":325,"wires":[["9ab725fc.6548d8"]]},{"id":"7543f8ff.405de","type":"comment","z":"ef5bf96.f10a408","name":"Publish AveragedSpectrumScanSampleEvent","info":"","x":1202,"y":409,"wires":[]},{"id":"8553f261.f5098","type":"smooth","z":"ef5bf96.f10a408","name":"moving average","action":"mean","count":"10","round":"","x":677.5,"y":72,"wires":[["8b85f74e.959248"]]},{"id":"18917699.e76e89","type":"function","z":"ef5bf96.f10a408","name":"Split Msg","func":"msg.topic = msg.payload[0]\nmsg.msgDesc = msg.payload[1]\nmsg.data = msg.payload[2]\n\nmsg.payload = msg.msgDesc\n\nreturn msg;","outputs":"1","noerr":0,"x":370,"y":330,"wires":[["77d8ffbc.8827"]]},{"id":"77d8ffbc.8827","type":"decode-protobuf","z":"ef5bf96.f10a408","name":"Decode MsgDescription","protofile":"/home/pgawlowicz/workspace/wishful_project/agent/wishful_agent/msgs/messages.proto","messagetype":"wishful_framework.MsgDescription","x":285,"y":433,"wires":[["ddfcfcf6.07a5a"]]},{"id":"9ab725fc.6548d8","type":"encode-protobuf","z":"ef5bf96.f10a408","name":"MsgDescriptionEncode","protofile":"/home/pgawlowicz/workspace/wishful_project/agent/wishful_agent/msgs/messages.proto","messagetype":"wishful_framework.MsgDescription","x":1032,"y":326,"wires":[["1c0e78db.e3f187"]]},{"id":"1c0e78db.e3f187","type":"function","z":"ef5bf96.f10a408","name":"CombineMsg","func":"var msgDesc = msg.payload;\nmsg.full_payload[1] = msgDesc\nmsg.payload = msg.full_payload\n\nreturn msg;","outputs":1,"noerr":0,"x":906,"y":442,"wires":[["20f43dc8.414552"]]}]