node-red/wishful_node_red_flow.json
[{"id":"d3cba517.7da4e","type":"zmq-reader","z":"2f9236f4.b22da2","name":"WishfulReader","mode":"sub","uri":"tcp://127.0.0.1:5556","server":false,"topics":"PacketLossEvent","x":213,"y":125,"wires":[["ddfcfcf6.07a5a"]]},{"id":"ddfcfcf6.07a5a","type":"function","z":"2f9236f4.b22da2","name":"extract payload from event","func":"var data = JSON.parse(msg.payload[1]);\n\nmsg.payload = data.rssi\n\nreturn msg;","outputs":1,"noerr":0,"x":538,"y":125,"wires":[["8553f261.f5098"]]},{"id":"827885a7.37ab88","type":"comment","z":"2f9236f4.b22da2","name":"Subscribe PacketLossEvent","info":"","x":194,"y":76,"wires":[]},{"id":"20f43dc8.414552","type":"zmq-writer","z":"2f9236f4.b22da2","name":"WishfulWriter","mode":"pub","uri":"tcp://127.0.0.1:5562","server":true,"x":785,"y":308,"wires":[]},{"id":"8b85f74e.959248","type":"function","z":"2f9236f4.b22da2","name":"create event","func":"var data = {value: msg.payload}\n\nmsg.payload = ['PacketLossAverageEvent', JSON.stringify(data)];\n\nreturn msg;","outputs":1,"noerr":0,"x":471,"y":308,"wires":[["20f43dc8.414552"]]},{"id":"7543f8ff.405de","type":"comment","z":"2f9236f4.b22da2","name":"Publish PacketLossAverageEvent","info":"","x":785,"y":258,"wires":[]},{"id":"8553f261.f5098","type":"smooth","z":"2f9236f4.b22da2","name":"moving average","action":"mean","count":"10","round":"","x":808.5,"y":125,"wires":[["8b85f74e.959248"]]}]